.swiper-wrapper img{width: 100%;height: 100%;}
/*结构公用样式*/
html,body{margin: 0;padding: 0;height:100%;width: 100%;background: #f0f0f0;}
.header_wrap{max-width: 750px;width: 100%;margin: 0 auto;height:96px;border-bottom: 1px solid #d8d8d8;position: fixed;background: #000;z-index: 3;top: 0;left:0;right:0;}
.header_contain{position:relative;width: 100%;}
.header_title{font-size: 32px;color: #FFF;margin: 0 auto;position: absolute;top: 0;left: 0;width: 100%;height: 96px;text-align: center;line-height: 96px;}
.header_left{width: 150px;height: 96px;position: absolute;top:0;left:0;line-height: 96px;z-index: 10;}
.header_left img{margin-left: 12px;}
.header_right{width: 150px;height: 96px;position: absolute;top:0;right:0;line-height: 96px;z-index: 10;}

.main_wrap{max-width: 750px;width: 100%;margin:0 auto;background: #eaeaea;}
.main{width: 100%;height:auto;}

.footer_wrap{max-width: 750px;width: 100%;margin: 0 auto;height: 100px;background: #202020;position: fixed;border-top: 1px solid #bababa;left: 0;bottom: 0;z-index: 9999;right:0;}
.empty{width: 100%;height: 96px;}
.empty1{width: 100%;height: 110px;}

.footer{font-size: 20px;display: flex;}
.footer_item{flex: 1;text-align: center;padding-top: 66px;color: #3e4248;line-height: 35px;}
.footer .footer_item.actived{ color:#c30d23;}
.footer .footer_item:nth-child(1){background: url(../img/icon_bot_home_a-@2x.png) no-repeat center 16px}
.footer .footer_item.actived:nth-child(1){ background: url(../img/icon_bot_home_b@2x.png) no-repeat center 16px}
.footer .footer_item:nth-child(2){background: url(../img/icon_bot_car_a@2x.png) no-repeat center 16px}
.footer .footer_item.actived:nth-child(2){ background: url(../img/icon_bot_car_b@2x.png) no-repeat center 16px}
.footer .footer_item:nth-child(3){background: url(../img/icon_bot_list_a@2x.png) no-repeat center}
.footer .footer_item.actived:nth-child(3){background: url(../img/icon_bot_list_b@2x.png) no-repeat center 16px}
.footer .footer_item:nth-child(4){background: url(../img/icon_bot_user_a@2x.png) no-repeat center 16px}
.footer .footer_item.actived:nth-child(4){ background: url(../img/icon_bot_user_b@2x.png) no-repeat center 16px}

/*公用功能性类*/
/*左右浮动*/
.float_left{float: left;}
.float_right{float: right;}
/*清除浮动*/
.clearfloat:after{content: ".";display: block;height: 0;overflow: hidden;visibility: hidden;clear: both;}
/*公用遮罩层*/
.my_bg{width: 100%;height: 100%;background: #000;position: fixed;top: 0;left: 0;opacity: 0.8;z-index: 6;filter: Alpha(opacity=80);overflow: hidden;display: none}
/*隐藏一个元素*/
.hidden{display: none;}

/*提交按钮90高度*/
.submit_btn90{width: 100%;height: 90px;background: url(../img/bg_02.png) repeat left center;text-align: center;line-height: 90px;color: #FFFFFF;font-size: 34px;border-radius: 6px;}

.toast-ui {
    display: none;
    top: 350px;
    padding: .1rem .15rem;
    color: #fff;
    z-index: 200;
    background: 0;
}
.toast {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    max-width: 80%;
    display: none;
    background: #2B2B2B;
    padding: .1rem .15rem;
    display: inline-table;
    text-align: left;
    border-radius: 3px;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: .7
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: .7
    }
}
@-webkit-keyframes fadeout {
    0%,80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeout {
    0%,80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
.pop-dialog {
    text-align: left;
    display:none; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0,0,0,.5);
}

.pop-body {
    width: 3rem;
    padding: .15rem;
    left: 50%;
    top: 50%;
    background-color: #fff;
    margin-left: -1.5rem;
    margin-top: -.92rem;
    border-radius: .02rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pop-msg {
    font-size: .16rem;
    line-height: .22rem;
    margin-bottom: .22rem;
    color: #333
}
.regsiter_main{background: #f7f7f7;}
.regsiter_pack{
	padding: 0 24px;
}
.regsiter_item{width: 100%;height: 120px;box-sizing: border-box;border-bottom: 2px solid #e8e9e9;padding: 30px 0;padding-left:100px; line-height: 60px;position: relative;}
.regsiter_phone{background: url(../img/icon_phone@2x.png) no-repeat 20px center;}
.regsiter_password,.regsiter_password_again{background: url(../img/icon_key@2x.png) no-repeat 20px center;}
.regsiter_item input{width: 100%;height: 60px;line-height: 60px;background: #F7F7F7;font-size: 30px;}
.regsiter_smscode{background: url(../img/icon_direction@2x.png) no-repeat 20px center;}
.get_verify_code{position: absolute;top: 20px;right: 0;width: 260px;height: 80px;line-height: 80px;text-align: center;color: #FFF;background: url(../img/bg_01.png) repeat-x center;border-radius: 6px;font-size: 30px;}
.regsiter_btn{margin: 70px 0;width: 100%;height: 90px;line-height: 90px; color: #FFF;font-size: 30px;text-align: center;border-radius: 6px;background: url(../img/bg_02.png) repeat center;font-size: 36px;}
.icon_clear{width: 36px;height: 36px;background: url(../img/icon_delete.png) no-repeat center;position: absolute;right: 0;top: 42px;display: none;}
.regsiter_smscode .icon_clear{right: 268px;}


/*首页*/
.index_left{text-align: center;color: #C30D23;background: url(../img/list_down@2x.png) no-repeat 110px center;font-size: 30px;}
.index_right{text-align: center;padding-left: 50px;}
.index_main{background: #000;}
.banner_wrap{width: 100%;height: 440px;padding-top: 34px;overflow: hidden;position: relative;}
.index_banner{width: 100%;height: 100%;}
.swiper-wrapper{}
.index_banner .swiper-slide{height: 380px;background: red;line-height: 380px;text-align: center;font-size: 150px;}
.swiper-slide img{width: 100%;height: 100%;vertical-align: inherit;}
.swiper-slide-prev,.swiper-slide-next{transform:scale(0.8);-ms-transform:scale(0.8);-webkit-transform:scale(0.8); -o-transform:scale(0.8);-moz-transform:scale(0.8);}
.swiper-slide{box-sizing: border-box;box-shadow: 20px 20px 12px 36px rgba(195,13,35,0.34);}

.menu_nav{width: 100%;display: flex;box-sizing: border-box;text-align: center;background: #000;color: #6f7174;font-size: 20px;padding: 30px 0;}
.menu_nav .item{flex: 1;}
.menu_nav .item dt{width: 100px;height: 100px;border-radius: 50%;border: 1px solid #6F7174;margin: 0 auto;}
.menu_nav .item dd{line-height: 50px;}

.index_module{padding: 20px 24px;background: #000;line-height: 30px;font-size: 20px;color: #6F7174;}
.index_module h3{width: 100%;height: 70px;padding: 15px 0; background: url(../img/biao_list@2x.png) no-repeat left center;line-height: 40px;font-size: 30px;color: #9c9FA3;text-indent: 20px;}
.index_module .module_item{padding: 16px 0;border-bottom: 1px solid #333;}
.index_module .module_item:last-child{border-bottom: none;}
.module_item dt,.module_item dd{float: left;}
.module_item dt{width: 270px;height: 178px;border-radius: 15px;}
.module_item dt img{width: 100%;height: 100%;}
.module_item dd{padding: 0 24px;width: 402px;}
.module_item dd h4{height: 50px;line-height: 50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 30px;color: #9C9FA3;}
.module_item dd .description{padding: 15px 0; overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3;line-height: 30px;}

/*我模块样式*/
.authentication_top{padding: 24px;line-height: 36px;font-size: 26px;color: #9e9e9e;}
.authentication_center{padding: 60px 0;}
.authentication_center_item{width: 484px;height: 279px;margin: 34px auto;}
.authentication_center_item:first-child{background: url(../img/car_1@2x.png) no-repeat center;}
.authentication_center_item:last-child{background: url(../img/car_1@2x.png) no-repeat center;}
.authentication_center_item .car_img{display: block;width: 100%;height: 100%;opacity:0;}
..authentication_center_item img{display: block;width: 100%;height: 100%;}
.authentication_bottom{padding: 60px 40px;}

.garage_main{padding: 24px 0;}
.garage_box{}
.garage_car_item{width: 100%;height: 200px;border-bottom: 1px solid #ddd;padding: 0 24px;background: #FFFFFF;}
.garage_car_item dt,.garage_car_item dd{float: left;height: 200px;}
.garage_car_item dt{width: 200px;background: url(../img/goods_pic.png) no-repeat center;}
.garage_car_item dd{line-height: 46px;color: #333;font-size: 28px;width: 502px;padding: 40px 24px;background: #FFFFFF url(../img/choose@2x.png) no-repeat right 46px;}


.feedback_textarea{padding: 24px;}
.feedback_textarea textarea{width: 100%;height: 400px;background: #FFFFFF;padding: 8px;border-radius: 10px;font-size: 28px;line-height: 36px;}
.feedback_textarea button{margin: 30px auto;}

