.swiper-wrapper img{width: 100%;height: 100%;}
/*结构公用样式*/
html,body{margin: 0;padding: 0;height:100%;width: 100%;background: #f0f0f0;}
.header_wrap{max-width: 750px;width: 100%;margin: 0 auto;height:96px;border-bottom: 1px solid #d8d8d8;position: fixed;background: #000;z-index: 3;top: 0;left:0;right:0;}
.header_contain{position:relative;width: 100%;}
.header_title{font-size: 32px;color: #FFF;margin: 0 auto;position: absolute;top: 0;left: 0;width: 100%;height: 96px;text-align: center;line-height: 96px;}
.header_left{width: 150px;height: 96px;position: absolute;top:0;left:0;line-height: 96px;z-index: 10;}
.header_left img{margin-left: 12px;}
.header_right{width: 150px;height: 96px;position: absolute;top:0;right:0;line-height: 96px;z-index: 10;}

.main_wrap{max-width: 750px;width: 100%;margin:0 auto;background: #eaeaea;padding-top:20px ;}
.main{width: 100%;height:auto;}

.footer_wrap{max-width: 750px;width: 100%;margin: 0 auto;height: 100px;background: #202020;position: fixed;border-top: 1px solid #bababa;left: 0;bottom: 0;z-index: 9999;right:0;}
.empty{width: 100%;height: 96px;}
.empty1{width: 100%;height: 110px;}

.footer{font-size: 20px;display: flex;}
.footer_item{flex: 1;text-align: center;padding-top: 66px;color: #3e4248;line-height: 35px;}
.footer .footer_item.actived{ color:#c30d23;}
.footer .footer_item:nth-child(1){background: url(../img/icon_bot_home_a-@2x.png) no-repeat center 16px}
.footer .footer_item.actived:nth-child(1){ background: url(../img/icon_bot_home_b@2x.png) no-repeat center 16px}
.footer .footer_item:nth-child(2){background: url(../img/icon_bot_car_a@2x.png) no-repeat center 16px}
.footer .footer_item.actived:nth-child(2){ background: url(../img/icon_bot_car_b@2x.png) no-repeat center 16px}
.footer .footer_item:nth-child(3){background: url(../img/icon_bot_list_a@2x.png) no-repeat center}
.footer .footer_item.actived:nth-child(3){background: url(../img/icon_bot_list_b@2x.png) no-repeat center 16px}
.footer .footer_item:nth-child(4){background: url(../img/icon_bot_user_a@2x.png) no-repeat center 16px}
.footer .footer_item.actived:nth-child(4){ background: url(../img/icon_bot_user_b@2x.png) no-repeat center 16px}

/*公用功能性类*/
/*左右浮动*/
.float_left{float: left;}
.float_right{float: right;}
/*清除浮动*/
.clearfloat:after{content: ".";display: block;height: 0;overflow: hidden;visibility: hidden;clear: both;}
/*公用遮罩层*/
.my_bg{width: 100%;height: 100%;background: #000;position: fixed;top: 0;left: 0;opacity: 0.8;z-index: 6;filter: Alpha(opacity=80);overflow: hidden;display: none}
/*隐藏一个元素*/
.hidden{display: none;}
/*公用弹出提示框*/
.prompt{position: fixed;position: -ms-device-fixed;padding:20px;background:rgba(0,0,0,0.6);color:#FFF;font-size: 24px;border-radius: 12px;z-index: 1000;left: 50%;display: none;top:26%;}
/*提交按钮90高度*/
.submit_btn90{width: 100%;height: 90px;background-image: url(../img/bg_02.png);background-repeat: repeat;background-position: left center;background-origin: content-box;  text-align: center;line-height: 90px;color: #FFFFFF;font-size: 34px;border-radius: 6px;}

.toast-ui {
    display: none;
    top: 350px;
    padding: .1rem .15rem;
    color: #fff;
    z-index: 200;
    background: 0;
}
.toast {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    max-width: 80%;
    display: none;
    background: #2B2B2B;
    padding: .1rem .15rem;
    display: inline-table;
    text-align: left;
    border-radius: 3px;
}
@-webkit-keyframes fadeIn {
    0% {opacity: .7}
	50% {opacity: 1}
	100% {opacity: .7}
}
@-webkit-keyframes fadeout {
    0%,80% {opacity: 1}
    100% {opacity: 0}
}
@keyframes fadeout {
	0%,80% {opacity: 1}
	100% {opacity: 0}
}
.pop-dialog {
    text-align: left;
    display:none; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0,0,0,.5);
}

.pop-body {
    width: 3rem;
    padding: .15rem;
    left: 50%;
    top: 50%;
    background-color: #fff;
    margin-left: -1.5rem;
    margin-top: -.92rem;
    border-radius: .02rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pop-msg {
    font-size: .16rem;
    line-height: .22rem;
    margin-bottom: .22rem;
    color: #333
}
.regsiter_main{background: #f7f7f7;}
.regsiter_pack{
	padding: 0 24px;
}
.regsiter_item{width: 100%;height: 120px;box-sizing: border-box;border-bottom: 2px solid #e8e9e9;padding: 30px 0;padding-left:100px; line-height: 60px;position: relative;}
.regsiter_phone{background: url(../img/icon_phone@2x.png) no-repeat 20px center;}
.regsiter_password,.regsiter_password_again{background: url(../img/icon_key@2x.png) no-repeat 20px center;}
.regsiter_item input{width: 100%;height: 60px;line-height: 60px;background: #F7F7F7;font-size: 30px;}
.regsiter_smscode{background: url(../img/icon_direction@2x.png) no-repeat 20px center;}
.get_verify_code{position: absolute;top: 20px;right: 0;width: 260px;height: 80px;line-height: 80px;text-align: center;color: #FFF;background: url(../img/bg_01.png) repeat-x center;border-radius: 6px;font-size: 30px;}
.regsiter_btn{margin-top: 70px;margin-bottom: 20px; width: 100%;height: 90px;line-height: 90px; color: #FFF;font-size: 30px;text-align: center;border-radius: 6px;background: url(../img/bg_02.png) repeat center;font-size: 36px;}
.icon_clear{width: 36px;height: 36px;background: url(../img/icon_delete.png) no-repeat center;position: absolute;right: 0;top: 42px;display: none;}
.regsiter_smscode .icon_clear{right: 268px;}
#reg_time{position: absolute;top: 20px;right: 0;width: 260px;height: 80px;line-height: 80px;text-align: center;font-size: 30px;}
/*登录*/
.login_main{background: #FFFFFF;}
.login_top{text-align: center;padding: 50px 0;}
.login_top img{margin: 0 auto;}
.login_center{padding: 50px 24px;}
.login_center .regsiter_item input{background: #FFFFFF;}
.login_phone{background: url(../img/icon_user@2x.png) no-repeat 20px center;}
.login_password{background: url(../img/icon_lock-closed@2x.png) no-repeat 20px center;}
.quick_nav {height: 50px;line-height: 50px;font-size: 28px;color: #7e7e7e;}
.quick_nav a{color: #7e7e7e;padding: 0 10px;}
/*找回密码*/
.find_password,.new_password{padding: 0 24px;background: #f4f4f4;}
.find_password .regsiter_item{}

/*首页*/
.index_left{text-align: center;color: #C30D23;background: url(../img/list_down@2x.png) no-repeat 110px center;font-size: 30px;}
.index_right{text-align: center;padding-left: 50px;}
.index_main{background: #000;}
.index_main .banner_wrap{width: 100%;height: 440px;padding-top: 34px;overflow: hidden;position: relative;}
.index_main .index_banner{width: 100%;height: 100%;}
.swiper-wrapper{}
.index_main .index_banner .swiper-slide{height: 380px;background: red;line-height: 380px;text-align: center;font-size: 150px;}
.index_main .swiper-slide img{width: 100%;height: 100%;vertical-align: inherit;}
.index_main .swiper-slide-prev,.index_main .swiper-slide-next{transform:scale(0.8);-ms-transform:scale(0.8);-webkit-transform:scale(0.8); -o-transform:scale(0.8);-moz-transform:scale(0.8);}
.index_main .swiper-slide{box-sizing: border-box;box-shadow: 20px 20px 12px 36px rgba(195,13,35,0.34);}

.menu_nav{width: 100%;display: flex;box-sizing: border-box;text-align: center;background: #000;color: #6f7174;font-size: 20px;padding: 30px 0;}
.menu_nav .item{flex: 1;}
.menu_nav .item dt{width: 100px;height: 100px;border-radius: 50%;border: 1px solid #6F7174;margin: 0 auto;}
.menu_nav .item dd{line-height: 50px;}

.index_module{padding: 20px 24px;background: #000;line-height: 30px;font-size: 20px;color: #6F7174;}
.index_module h3{width: 100%;height: 70px;padding: 15px 0; background: url(../img/biao_list@2x.png) no-repeat left center;line-height: 40px;font-size: 30px;color: #9c9FA3;text-indent: 20px;}
.index_module .module_item{padding: 16px 0;border-bottom: 1px solid #333;}
.index_module .module_item:last-child{border-bottom: none;}
.module_item dt,.module_item dd{float: left;}
.module_item dt{width: 270px;height: 178px;border-radius: 15px;}
.module_item dt img{width: 100%;height: 100%;}
.module_item dd{padding: 0 24px;width: 402px;}
.module_item dd h4{height: 50px;line-height: 50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 30px;color: #9C9FA3;}
.module_item dd .description{padding: 15px 0; overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3;line-height: 30px;}
/*城市选择*/
.changecity.main_wrap{padding-top: 0px;}
.changecity_box{font-size: 30px;}
.changecity_header{height: 88px;line-height: 88px;padding: 0 24px;background: #FFFFFF;border-bottom: 1px solid #E1E1E1;z-index: 2; position: fixed;left: 0;top: 96px;width: 100%;}
.changecity_center {margin-top: 88px;}
.changecity_content{width: 696px;position: relative;}
.changecity_content .msg_title{height: 82px;line-height: 82px;color: #9E9E9E;padding: 0 24px;}
.changecity_content .hot_title{height: 72px;line-height: 60px;color: #9E9E9E;padding: 0 24px;}
.changecity_content .city_box{padding-left: 24px;}
.hot_city{border-bottom: 1px solid #E1E1E1;}
.city_item{width: 204px;height: 80px;float: left;text-align: center;line-height: 80px;border: 1px solid #ebebeb;border-radius: 8px;margin-right: 20px;margin-bottom: 20px;background: #FFFFFF;}
.city_first_letter{height: 55px;line-height: 55px;padding-left:24px ;}
.city_list_box{padding-left: 24px;background: #FFFFFF;}
.city_list_item{height: 90px;line-height: 90px;border-bottom: 1px solid #c8c7cc;}
.changecity_sidenav{width: 54px;text-align: center;background: #fcfcfc;color: #C30D23;font-size: 22px;padding: 100px 0;position: fixed;right: 0;top: 184px;}
.changecity_sidenav .anchor_list{padding: 100px 0;}
.changecity_sidenav li a{height: 32px; color: #C30D23;display: block;}

/*我模块样式*/
.main_wrap.my_main{padding-top: 0px;}
.my_top{width: 100%;min-height: 340px;padding: 0 24px; padding-bottom:36px ;background: url(../img/bg_top@2x.png) no-repeat center top;}
.my_header{height: 86px;line-height: 86px;text-align: center;color: #FFFFFF;font-size: 36px;}

.my_top_info{width: 100%;height: 300px;border-radius: 10px;background: #FFFFFF;margin-top: 40px;}
.my_top_info.login_status{margin-top: 100px;}

.my_info_top{height: 150px;position: relative;text-align: center;padding: 15px 30px;}
.my_info_top dt,.my_info_top dd{float: left;color: #333333;font-size: 30px;line-height: 60px;}
.my_info_top dt{position: absolute;top: -30px;left: 30px;visibility: visible;width: 134px;height: 134px}
.my_info_top dd{display: block;width: 100%;text-align: left;text-indent: 160px;padding-top: 50px;}

.login_status .my_info_top dt{top: -64px;left: 50%;margin-left: -67px;}
.login_status .my_info_top dd{text-align: center;text-indent: 0;}


.my_info_nav{display: flex;text-align: center;padding: 24px 0;}
.my_info_nav .my_info_nav_item{flex: 1;}
.my_info_nav_item dd{line-height: 50px;font-size: 26px;color: #9E9E9E;}
.my_center{border-top: 2px solid #E1E1E1;border-bottom: 2px solid #E1E1E1;}
.my_center .my_center_line{height: 240px;border-bottom: 1px solid #e1e1e1;display: flex;text-align: center;background: #FFFFFF;}
.my_center .my_center_line:last-child{border-bottom: none;}
.my_center_line .my_center_item{flex: 1;padding-top: 64px;border-right:1px solid #E1E1E1 ;}
.my_center_line .my_center_item img{height: 100%;}
.my_center_line .my_center_item:last-child{border-right: none;}
.my_center_item dt{height: 70px;}
.my_center_item dd{line-height: 80px;font-size: 28px; color: #9E9E9E;}


.authentication_top{padding: 24px;line-height: 36px;font-size: 26px;color: #9e9e9e;}
.authentication_center{padding: 60px 0;}
.authentication_center_item{width: 484px;height: 279px;margin: 34px auto;}
.authentication_center_item:first-child{background: url(../img/car_1@2x.png) no-repeat center;}
.authentication_center_item:last-child{background: url(../img/car_1@2x.png) no-repeat center;}
.authentication_center_item .car_img{display: block;width: 100%;height: 100%;opacity:0;}
.authentication_center_item img{display: block;width: 100%;height: 100%;}
.authentication_bottom{padding: 60px 40px;}
/*红包*/
.red_packet_box{padding: 0 38px;}
.no_use_red_packet{width: 100%;height: 80px;line-height: 80px; text-align: center;font-size: 30px;color: #303030;background: #FFF;border-radius: 20px;margin-bottom: 30px;}
.red_packet_list_box{padding: 0 13px;}
.red_packet_item{width: 651px;height: 157px;background: url(../img/red_packet_bg2@2x.png) no-repeat center;margin-bottom: 30px;}
.red_packet_item dt{width: 165px;text-align: center;font-size: 32px;color: #FFFFFF;line-height: 152px;font-weight: 800;}
.red_packet_item dd{padding: 24px 26px 26px 30px;width: 480px;}
.red_packet_item dd p:first-child{height: 75px;}
.red_packet_item dd .float_right{width: 117px;height: 23px;}
/*个人信息*/
.my_info .list_item:first-child{height: 170px;line-height: 170px;}
/*修改昵称*/
.revise_name{height: 100px;line-height: 60px;padding: 20px 24px;position: relative;background: #FFFFFF;}
.revise_name input{width: 100%;height: 60px;line-height: 60px; background: #F7F7F7; font-size: 30px;color: #303030;background: #FFFFFF;}
.revise_name .icon_clear{top: 32px;right: 26px;display: block;}
/*我的车库*/
.garage_main{padding: 24px 0;}
.garage_box{}
.garage_car_item{width: 100%;height: 200px;border-bottom: 1px solid #EAEAEA;padding: 0 24px;background-repeat: no-repeat;background-position: center;background-image: url(../img/bg_list_middle@2x.png);}
.garage_car_item:first-child{background-image: url(../img/bg_list_top@2x.png);}
.garage_car_item:last-child{background-image: url(../img/bg_list_bpt@2x.png);}
.garage_car_item dt,.garage_car_item dd{float: left;height: 199px;}
.garage_car_item dt{width: 200px;background: url(../img/goods_pic.png) no-repeat center;}
.garage_car_item dd{line-height: 46px;color: #333;font-size: 28px;width: 502px;padding-top: 40px;padding-left: 24px; background: #FFFFFF url(../img/choose@2x.png) no-repeat right 46px;}
.garage_car_item.actived dd{background-image: url(../img/choosen@2x.png);}
/*车辆信息*/
.car_info_msg{height:60px;line-height: 46px;padding: 0 24px;}
.car_info_msg .float_left{font-size: 28px;color: #9E9E9E;}
.car_info_msg .float_right{color: #FF6E6E;font-size: 26px }
.car_info_msg1{height: 60px;line-height: 60px;background: #ffdd83;color: #e47634;font-size: 24px;padding: 0 24px;}
.car_info_box .list_item .float_right input{text-align: right;}
/*车险分期-保单详情-选择投保方案-订单详情----------公用*/
.car_staging_box{width: 100%;min-height: 500px;padding: 0 24px;position: relative;background: #FFFFFF;border-radius: 10px;font-size: 30px;}
.car_staging_box_title{position: absolute;top: -40px;width: 418px;background: url(../img/bg_title@2x.png) no-repeat center;left: 50%;margin-left: -209px;
height: 78px;line-height: 78px;text-align: center;color: #fff; font-size: 36px}
.car_staging_box_header{border-bottom: 2px dashed #ff8b84;}
.car_staging_box_header p{height: 96px;text-align: center;color: #fca29c;font-size: 24px;padding-top: 50px;}
.car_staging_box_header p.title{height: 78px;line-height: 78px;text-align: center;color: #303030;font-size: 32px;padding-top: 0;}

.car_staging_box_center{padding: 22px 12px;}
.car_staging_box_c_item{height: 72px;line-height: 72px; position: relative;}


.car_staging_box_c_item .float_right input{text-align: right;}
.car_staging_box_c_item .float_right.icon{padding-right: 30px;background: url(../img/arr_left.png) no-repeat right center;}
/*车险分期*/
.car_insurance_staging{padding: 0 24px; padding-top: 50px;}

.car_staging_box_bottom{padding: 20px 12px;border-top: 1px solid #e8e6f3;}
.transfer_car .float_right{width: 110px;background: url(../img/Switch-off@2x.png) no-repeat center center;height: 72px;}

.transfer_car .float_right.actived{background: url(../img/Switch-on@2x.png) no-repeat center center;}
.transfer_time{display: none;}
.car_staging_box_agreement{padding: 24px 0;line-height: 36px;font-size: 24px;color: #9E9E9E;display: flex;width: 100%;}
.car_staging_box_agreement span.icon{width: 50px;background: url(../img/agree_choose@2x.png) no-repeat center 5px;}
.car_staging_box_agreement span.icon.actived{background: url(../img/agree_chosen@2x.png) no-repeat center 5px;}
.car_staging_box_agreement span.text{padding-left: 6px;}
/*保单详情*/
.policy_details_box_top{position: relative;width: 100%;height: 150px;background: #FFFFFF;padding: 35px 50px;font-size: 30px;}
.policy_details_box_top dt{width: 80px;height: 80px;float: left;}
.policy_details_box_top dt img{width: 100%;height: 100%;}
.policy_details_box_top dd{height: 80px;padding-left: 30px;line-height: 80px;float: left;}
.policy_details_box_top dd span{padding-right: 20px;}
.policy_details_box_center{padding: 0 24px;padding-top: 100px;}
/*车商城*/
.car_mall_info{padding: 0 24px;background: #FFFFFF;}
.car_item{padding: 15px 0;background: #FFFFFF;line-height: 30px;font-size: 20px;color: #6F7174;}
.car_item dt,.car_item dd{float: left;}
.car_item dt{width: 270px;height: 178px;border-radius: 15px;}
.car_item dt img{width: 100%;height: 100%;}
.car_item dd{padding: 0 24px;width: 402px;}
.car_item dd h4{height: 50px;line-height: 50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 32px;color: #303030;}
.car_item .description{font-size: 26px;color: #9E9E9E;line-height: 46px;min-height: 76px;}
.car_item .money{font-size: 32px;color: #ec5330;}
.car_mall_center{padding: 36px 40px;width: 100%;padding-top: 80px;}
.car_mall_center .car_staging_box_title{background: url(../img/bg_title_gold@2x.png) no-repeat center;}

.car_section{width: 100%;padding: 30 0px;margin-bottom: 30px;}

.car_mall_footer{height: 100px;line-height: 100px;font-size: 36px;color: #FFFFFF;display: flex;text-align: center;width: 100%;}
.car_mall_footer .car_footer_item{flex: 1;}
.car_mall_footer .car_footer_item:first-child{background: #a4a4a4;}
.car_mall_footer .car_footer_item:last-child{background: #fc5a5a;}


/*选择投保方案*/
.selectc_policy_box_wrap{width: 100%;min-height: 500px;position: relative;margin-top: 100px;}
.selectc_policy_box{width: 100%;height: 100%;}

.selectc_policy_box_wrap .selectc_policy_box .selectc_policy_swiper_wrap{padding: 30px 24px;}
.selectc_policy_swiper_wrap .car_staging_box{width: 702px;}
.selectc_policy_box .car_staging_box_header{border-bottom: 2px dashed #999;padding-top: 50px;}
.selectc_policy_box .car_staging_item{border-bottom: 2px dashed #999999;}
.selectc_policy_box .car_staging_item:last-child{border-bottom: 2px dashed transparent;}
.edit_wrap{width: 100%;height: 82px;padding: 16px 24px;}
.edit_wrap .edit{width: 120px;height: 50px;border-radius: 25px;background:#9fd1f8 ;color: #FFFFFF;text-align: center;line-height: 50px;display: block;margin: 0 auto;font-size: 30px;}
#selectc_policy_swiper_pagination{position: absolute;bottom: -30px;left: 0;width: 100%;text-align: center;padding: 15px 0;}
#selectc_policy_swiper_pagination .swiper-pagination-bullet{width: 14px;height: 14px;border-radius: 100%;background: #ff4847;margin: 0 8px; opacity:.5;display: inline-block;}
#selectc_policy_swiper_pagination .swiper-pagination-bullet-active{opacity: 1;}

/*订单详情*/
.order_details_top{background: url(../img/bg_list_middle@2x.png) no-repeat center;}
.order_details_center{padding: 0 24px;padding-top: 70px;}
.order_details_center .car_staging_box_header{padding-top:60px ;padding-bottom: 24px;}

.car_staging_box_header_item{height: 62px;line-height: 62px;}
.car_staging_item_title{height: 60px;line-height: 60px;}

.policy_details_time_box{padding-top: 10px;padding-bottom: 30px;}
.policy_details_time_item{height: 42px;line-height: 42px;color: #92c4f3;font-size: 26px;}


/*保险最新报价*/
.new_insurance_price .garage_car_item dd{line-height: 60px;font-size: 30px;}
.new_insurance_price .submit{padding: 40px 24px;}
/*客服中心*/
.client_server_center_top_item{height: 100px;line-height: 100px;border-bottom: 1px solid #E1E1E1;padding: 0 24px;background:#FFFFFF url(../img/icon_more@2x.png) no-repeat right center;font-size: 30px;color: #303030;}
.client_server_center_top_item:first-child{background: #eaeaea;background-image: none;color: #9E9E9E;}
.client_server_center_nav{padding: 164px 105px;display: flex;text-align: center;line-height: 56px;font-size: 24px;color: #9E9E9E;}
.client_server_center_nav_item{flex: 1;text-align: center;}
.client_server_center_nav_item dt{width: 100px;height: 100px;border-radius: 50%;border: 1px solid #c8c8c8;display: block;margin: 0 auto;}
.client_server_center_bottom{position: fixed;line-height: 96px;color: #9E9E9E;font-size: 24px;text-align: center;bottom: 0;left: 0;right: 0;}
/*意见反馈*/
.feedback_textarea{padding: 24px;}
.feedback_textarea textarea{width: 100%;height: 400px;background: #FFFFFF;padding: 8px;border-radius: 10px;font-size: 28px;line-height: 36px;}
.feedback_textarea button{margin: 30px auto;}
/*关于我们*/
.about_us{padding: 48px 26px;line-height: 48px;font-size: 28px;color: #666;}
/*联系我们&& 设置*/
.contact_us_box,.set_box{margin-bottom: 20px;}
.contact_us_box .float_right,.set_box .float_right{color: #9E9E9E;}
.my_address_box .float_right input{text-align: right;height: 98px;}
/*我的余额*/
.my_balance.header_wrap{background: none;border: none;}
.main_wrap.my_balance{padding-top: 0;}
.my_balance.footer_wrap{background: url(../img/bg_red_100.png) repeat center;line-height: 100px;color: #FFFFFF;}
.my_balance .footer{text-align: center;font-size: 36px;display: block;}
.my_balance_top{height: 432px;width: 100%;background:#FFFFFF url(../img/bg_money@2x.png) no-repeat center;padding-top: 110px;margin-bottom: 56px;}
.my_balance_tit{font-size: 26px;color: #303030;line-height: 64px;padding-left: 30px;}
.my_balance_money{color: #FFFFFF; font-size: 72px;text-align: center;}
/*充值*/
.recharge_box .list_item{display: flex;}
.prompt_info{height: 64px;line-height: 64px;font-size: 26px;color: #FF6E6E;padding-left: 24px;}
/*收件人地址列表*/
.address_item{margin-bottom: 20px;font-size: 28px;background: #FFFFFF;}
.address_item .address_top{border-bottom: 1px solid #EAEAEA;padding: 20px 26px;padding-right: 120px;background: url(../img/choose@2x.png) no-repeat 95% 40px;color: #303030;}
.address_item .address_top.true{background: url(../img/choosen@2x.png) no-repeat 95% 40px;}
.address_item .address_bottom{padding: 0 26px;line-height: 80px;}
.address_item .address_bottom .float_left.true{color: #46d642;}
.address_item .address_bottom .float_left{color: #F5812C;}
.address_item .address_bottom .float_right{color: #e3142d;}
/*我的保单*/
.my_policy_box{padding: 30px;}
.policy_item{margin-bottom: 30px;background: url(../img/bg_bd@2x.png) no-repeat center;font-size: 28px;}
.policy_item.actived .policy_top_right{background: url(../img/choosen@2x.png) no-repeat center 20px;;}
.policy_top{display: flex;padding: 30px 0;line-height: 48px;}
.policy_top .policy_top_left{width: 200px;}
.policy_top .policy_top_center{width: 370px;}
.policy_top .policy_top_right{width: 120px;background: url(../img/choose@2x.png) no-repeat center 20px;}
.policy_bottom{line-height: 94px;color: #ff697b;}
.policy_bottom .policy_insurance{padding: 0 20px;}
.my_policy_footer{width:100% ;height: 100px;line-height: 100px;text-align: center;background: #fe5050;display: block;}
.my_policy_footer .policy_footer_item{font-size: 26px;color: #FFFFFF;}

.payment_info{padding: 46px 24px;}
.payment_box{width: 100%;padding: 34px 0 28px 0;border-radius: 8px;text-align: center;background: #FFFFFF url(../img/line_divide@2x.png) no-repeat center;}
.payment_box dl{width: 350px;}
.payment_box dl dt{font-size: 38px;line-height: 54px;}
.payment_box dl.float_left dt{color: #ff7200;}
.payment_box dl.float_right dt{color: #1b98f8;}
.payment_box dl dd{font-size: 26px;line-height: 40px;color: #9ba2c0;}
.payment_info p{padding-top: 16px;line-height: 46px;font-size: 26px;color: #999999;}
.payment_info p span:last-child{color: #ff6e6e;}
.stages_box{border-top: 1px solid #e3e3e3;font-size: 28px;}
.stages_box li{border-bottom: 1px solid #E3E3E3;line-height: 100px;background: #FFFFFF;padding: 0 24px;}
.stages_box .float_left{color: #303030;}
.stages_box .float_right{color: #9E9E9E;}
.payment_submit{padding: 60px 24px;}

/*商城*/
.header_wrap.mall_header{background: transparent;border-bottom: none;}
.main_wrap.mall_main{padding: 0;}
.mall_header .header_search{padding: 15px 0;padding-left: 96px;padding-right: 40px;}
.header_search input{width: 100%;height: 65px;border-radius: 30px;background: #FFFFFF url(../img/icon_serch@2x.png) no-repeat 30px center;padding-left: 80px;font-size: 28px;line-height: 65px;}
.mall_main .banner_wrap{width: 100%;height: 360px;overflow: hidden;position: relative;}
.mall_main .mall_banner{width: 100%;height: 100%;}
.mall_main .mall_banner .swiper-slide{height: 360px;background: red;line-height: 360px;text-align: center;font-size: 150px;}
.mall_main .swiper-slide img{width: 100%;height: 100%;vertical-align: inherit;}
.mall_nav{display: flex;text-align: center;background:#FFFFFF;}
.mall_nav_item{flex: 1;border-bottom: 6px solid transparent;font-size: 30px;color: #303030;height: 80px;line-height: 80px;}
.mall_nav_item.actived{border-bottom-color: #ef253d;color: #ef253d;}
.mall_subnav{height:96px;display: flex;line-height: 58px;text-align: center;font-size: 28px;padding:19px 5px;}
.mall_subnav_item{flex: 1;}
.mall_subnav_item span{display: inline-block;width: 112px;height: 58px;background: #dddddd;border-radius: 29px;color: #8f8f8f;}
.mall_subnav_item.actived span{background: #FFFFFF;color: #303030;}
.mall_center{padding: 0 24px;background: #FFFFFF;}
.mall_center .mall_center_item{border-bottom: 1px solid #dadada;background: #FFFFFF;}
.mall_center .mall_center_item:last-child{border-bottom: none;}


/*汽车品牌*/
.car_brand_box{position: relative;}
.car_brand_hot_wrap{font-size: 24px;margin-bottom: 10px;}
.car_brand_hot_tit{height: 70px;line-height: 70px;color: #9E9E9E;padding: 0 24px;}
.car_brand_hot_box{padding-left: 24px;background: #FFFFFF;}
.car_brand_hot_box_line{height: 140px;padding: 20px 0; display: flex;border-bottom: 2px solid #C8C7CC;}
.car_brand_hot_box_line:last-child{border-bottom: 2px solid transparent;}
.car_brand_hot_box_line dl{flex: 1;text-align: center;}
.car_brand_hot_box_line dt {width: 70px;height: 70px;display: block;margin: 0 auto;}
.car_brand_hot_box_line dt img,.car_brand_list_item dt img{width: 100%;height: 100%;}
.car_brand_hot_box_line dd{color: #303030;line-height: 34px;text-align: center;}
.car_brand_list_wrap{font-size: 30px}
.car_brand_list_box_tit{height: 50px;line-height: 50px;padding-left: 16px;border-bottom: 2px solid #eee;}
.car_brand_list_box_tit a{color: #808080;font-size: 28px;}
.car_brand_list_box_center{padding-left: 24px;}
.car_brand_list_item{height: 100px;line-height: 100px;border-bottom: 2px solid #c8c7cc;display: flex;}
.car_brand_list_item dt{width: 50px;height: 50px;}
.car_brand_list_item dd{padding-left: 24px;}
.car_brand_list_box{background: #FFFFFF;margin-bottom: 8px;}
.car_brand_list_retrieval{position: fixed;right: 0;top:120px;padding: 50px 0;width: 50px;height: 100%;}
.car_brand_list_retrieval_box{padding: 100px 0;}
.car_brand_list_retrieval_box a{display: block;text-align: center;line-height: 36px;font-size: 22px;color: #888;}
/*支付结果*/
.pay_result_top{height: 380px;text-align: center;}
.pay_result_icon{height: 270px;}
.success .pay_result_icon{background: url(../img/pic_scuess@2x.png) no-repeat center 80px;}
.fail .pay_result_icon.fail{background: url(../img/pic_fail@2x.png) no-repeat center 80px;}
.success .pay_result_txt{text-align: center;font-size: 38px;color: #42b515;}
.fail .pay_result_txt{text-align: center;font-size: 38px;color: #eb030e;}
.pay_result_info{font-size: 24px;line-height: 36px;padding: 0 24px;}
/*付款*/
.pay_item_box{padding: 10px 24px;font-size: 24px;color: #9E9E9E;}
.pay_item_title{height: 68px;line-height: 68px;font-size: 30px;}
.pay_item_boxs{}
.pay_way_item{width: 220px;height: 104px;border-radius: 12px;float: left;margin-right: 20px;margin-bottom: 20px;background: #FFFFFF;line-height: 36px;text-align: center;padding: 16px 0;}
.pay_way_item:nth-child(3n){margin-right: 0;}
.pay_way_item.actived{color: #ff6b3E;}
.pay_detailes{padding: 0 24px;}
.pay_detailes .msg{color: #fc7c7c;font-size: 24px;line-height: 50px;}
/*在线支付*/
.line_pay_top{min-height: 400px;width: 100%;background: url(../img/bg_pay_list@2x.png) no-repeat center bottom;font-size: 30px;}
.line_pay_top ul{background: #FFFFFF;padding: 0 24px;padding-top: 30px;}
.line_pay_item{height: 60px;line-height: 60px;}
.line_pay_msg{height: 52px;line-height: 38px;padding: 14px 24px 0 24px;background: #FFFFFF;font-size: 24px;color: #FC7C7C;}
.lin_pay_packet{height: 85px;line-height: 70px;padding: 0 24px;padding-top: 15px;}
.lin_pay_packet .float_right.icon{padding-right: 24px;background: url(../img/arr_left.png) no-repeat right center;color: #E82B21;}
.line_pay_subtotal{height: 100px;line-height: 100px;padding: 0 24px;}
.line_pay_box{margin: 20px 0;background: #FFFFFF;font-size: 30px}
.line_pay_box .item{height: 100px;line-height: 100px;padding: 0 20px;border-bottom: 1px solid #e9e8ea;background: url(../img/choose@2x.png) no-repeat 670px center;}
.line_pay_box .item.actived{background: url(../img/choosen@2x.png) no-repeat 670px center;}
.line_pay_box .item .float_left{padding-left:90px ;}
.line_pay_box .item:nth-child(1) .float_left{background: url(../img/icon_wx@2x.png) no-repeat left center;}

/*修改投保方案*/
.edit_policy_programme_box_item{font-size: 30px}
.edit_policy_programme_box_item h3{width: 100%;height: 68px;line-height: 68px;padding: 0 24px;}
.edit_policy_programme_item{width: 100%;height: 100px;line-height: 100px;padding: 0 24px;border-bottom: 1px solid #C0C0C0;display: flex;background: #FFFFFF;justify-content:space-between;}
.edit_policy_programme_item .left{width: 260px;}
.edit_policy_programme_item .center{background: url(../img/agree_choose@2x.png) no-repeat left center;padding-left: 40px;width: 260px;}
.edit_policy_programme_item .center.actived{background: url(../img/agree_chosen@2x.png) no-repeat left center;}
.edit_policy_programme_item .right{width: 140px;text-align: right;}
.edit_policy_programme_item .right.icon{padding-right: 40px;background: url(../img/list_down@2x.png) no-repeat right center;}
.edit_policy_programme_item b{font-weight: 500;}

/*信用评估认证*/
.list_item{width: 100%;border-bottom: 1px solid #e5e6e6;height: 100px;line-height: 100px;background: #FFFFFF;padding: 0 24px;font-size: 30px}
.list_item .float_right.icon{background: url(../img/arr_left.png) no-repeat right center;padding-right: 24px;}
.list_item label{width: 220px;display: inline-flex;}
.list_item input{height: 98px;}

.ce_aplly_top {}
.ce_aplly_top .list_item{display: flex;}
.ce_aplly_top .list_item span{width: 270px;display: block;text-indent: 60px;background-repeat: no-repeat;background-position: 6px center;background-image: url(../img/agree_choose@2x.png);}
.ce_aplly_top .list_item span.actived{background-image: url(../img/agree_chosen@2x.png);}
.ce_aplly_top .list_item label{width: 220px;}
.ce_apply_description,.updata_card_top{padding: 30px 24px;}
.cb_submit{padding: 30px 24px;}
.footer_pic{position: fixed;left: 0;bottom: 0;height: 178px;width: 100%;padding: 0 30px;background:#FFFFFF url(../img/pic_sample@2x.png) no-repeat center;}

.margin100{margin-top: 100px;margin-bottom: 50px;}
/*上传伴侣照片的提示信心*/
.alert_msg{position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: rgba(0,0,0,.8);z-index: 100;}
.alert_body{width: 640px;height: 800px;position: absolute;left: 50%;margin-left: -320px;top: 23%;}
.alert_box{width: 100%;height: 605px;border-radius: 10px;overflow: hidden;}
.alert_box_icon{height: 288px;background: #f32941 url(../img/pic_scuess@2x.png) no-repeat center;}
.alert_box_content{padding: 0 30px;background: #FFFFFF;text-align: center;}
.alert_box_content .title{color: #303030;font-size: 36px;line-height: 90px;}
.alert_box_content .info{color: #909090;font-size: 26px;line-height: 38px;}
.alert_box_content .submit{padding: 30px 0;}
.alert_msg .alert_del{width: 100%;height: 200px;background: url(../img/x@2x.png) no-repeat center;}

/*上传证件信息*/
.updata_card_info{padding: 0 133px;}
.updata_card_info .updata_card_item{width: 100%;height: 279px;margin-top: 30px;position: relative;}
.updata_card_info .updata_card_item input,.updata_card_info .updata_card_item img{width: 100%;height: 279px;position: absolute;}
.updata_card_info .updata_card_item input{opacity: 0;}
.user_card_a{background: url(../img/up_sfz_a@2x.png) no-repeat center;}
.user_card_b{background: url(../img/up_sfz_b@2x.png) no-repeat center;}
.user_partner_card_a{background: url(../img/up_sfz_couple_a@2x.png) no-repeat center;}
.user_partner_card_b{background: url(../img/up_sfz_couple_b@2x.png) no-repeat center;}
.user_car_a{background: url(../img/car_1@2x.png) no-repeat center;}
.user_car_b{background: url(../img/car_0@2x.png) no-repeat center;}
.user_driving_card_a{background: url(../img/up_drivelicense_a@2x.png) no-repeat center;}
.user_driving_card_b{background: url(../img/up_drivelicense_b@2x.png) no-repeat center;}
/*订单模块*/
.main_wrap.my_order{padding-top: 0px;}
.order_nav{margin-bottom: 20px;}
.order_nav .mall_nav_item{height: 100px;line-height: 100px;}
.order_item{width: 100%;padding: 0 20px;background: #FFFFFF;margin-bottom: 20px;}
.order_item_top{height: 80px;line-height: 80px;border-bottom: 1px solid #DADADA;}
.order_item_top .float_left{font-size: 24px;color: #9ba0a8;}
.order_item_top .float_right{font-size: 28px;color: #999999;}
.order_item_top .float_right.color_or{color: #F5812C;}
.order_item_bottom{padding: 20px 0;display: flex;height: 140px;}
.oreder_item_b_left{width: 120px;}
.oreder_item_b_center{width: 460px;padding-left: 30px;}
.order_item_title{height: 50px;color: #303030;font-size: 30px;}
.order_item_money{color: #ff5959;font-size: 36px;}
.oreder_item_b_right{color: #999999;font-size: 24px;}

/*说明描述信息*/
.description_info{font-size: 24px;line-height: 36px;color: #9E9E9E;}


.color_or{color: #F5812C;}
.color_gr{color: #46d642;}
.color_re{color: #e3142d;}
.color_f9{color: #f96268;}
.color_9e{color: #9E9E9E;}
.color_30{color: #303030;}
.color_ff6600{color: #ff6600;}
.color_e82b21{color: #e82b21;}
.right_text{font-size: 30px;text-align: center;color: #c30d23;}
/*内凹圆效果*/
.border_radius{width: 28px;height: 28px;border-radius: 50%;display: inline-block;background: #EAEAEA;}
.top_left{position: absolute;left: -14px;top: -14px;}
.top_right{position: absolute;right: -14px;top: -14px;}
.bottom_left{position: absolute;left: -14px;bottom: -14px;}
.bottom_right{position: absolute;right: -14px;bottom: -14px;}
